@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

body{
    background-color: rgb(220,220,220);
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

header{
    background-color: white;
    max-width: 450px;
    width: 100vh;
    padding: 2rem 3rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
}

header h1{
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

#new-task-form{
    display: flex;
    justify-content: space-between;
}

#new-task-input{
    outline: none;
    border: none;
    border-radius: 1rem;
    background: rgba(187, 183, 183, 0.815);
    font-size: 1rem;
    padding: .6rem 3rem;
}

#new-task-submit{
    appearance: none;
    border: none;
    outline: none;
    background: none;
    font-size: 1rem;
    font-weight: 700;
    color: rgb(5, 168, 5);
    cursor: pointer;
    transition: .2s;
}

#new-task-submit:hover{
    font-size: 1rem;
    color: green;
}

.task-list {
    font-size: 1.5rem;
    font-weight: 300;
    padding: 1rem 3rem;
    border-radius: 1rem;
    max-width: 450px;
    width: 100vh;
}

.task{
    border-radius: .5rem;
    background-color: white;
    display: flex;
    margin-left: -2.5rem;
    max-width: 500px;
    width: 100vh;
    margin-bottom: 1rem;
    justify-content: space-between;
    padding: .5rem 1rem;
}

.task:hover{
    padding: .7rem 1rem;
}

.task:hover .text{
    font-size: 1.5rem;
}

.task:hover .actions button{
    font-size: 1.1rem;
}

.text{
    font-size: 1.2rem;
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

.actions button{
    font-size: 1rem;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    padding: 0 1rem;
    font-weight: 600;
}

.edit{
    color: rgb(37, 37, 199);
    cursor: pointer;
}

.edit:hover{
    color: rgb(70, 70, 211);
}

.delete{
    color: rgb(209, 30, 30);
    cursor: pointer;
}

.delete:hover{
    color: rgb(211, 74, 74);
}